# LDAP/AD
LDAP_BIND_DN: {{ freeipa_sssd_tools_config_ldap_bind_dn }}
LDAP_DOMAIN: {{ freeipa_sssd_tools_config_ldap_domain }}
LDAP_HOST: {{ freeipa_sssd_tools_config_ldap_host }}
LDAP_LDIF_WRAP: {{ freeipa_sssd_tools_config_ldap_ldif_wrap }}
LDAP_NET_TIMEOUT: {{ freeipa_sssd_tools_config_ldap_net_timeout }}
LDAP_PASS: {{ freeipa_sssd_tools_config_ldap_pass }}
LDAP_SCOPE: {{ freeipa_sssd_tools_config_ldap_scope }}
LDAP_SEARCH_BASE: {{ freeipa_sssd_tools_config_ldap_search_base }}
LDAP_USER: {{ freeipa_sssd_tools_config_ldap_user }}
# LDB
IPA_DOMAIN: {{ freeipa_sssd_tools_config_ipa_domain }}
LDB_FILTER: {{ freeipa_sssd_tools_config_ldb_filter }}
LDB_HOST: {{ freeipa_sssd_tools_config_ldb_host }}
LOG_FILE: {{ freeipa_sssd_tools_config_log_file }}
MAX_PWD_AGE: {{ freeipa_sssd_tools_config_max_pwd_age }}
