[Unit]
Description= freeIPA API queue consumer
After=network.target

[Service]
User={{ freeipa_sssd_tools_api_que_syn_user }}
Group={{ freeipa_sssd_tools_api_que_syn_group }}
WorkingDirectory={{ freeipa_sssd_tools_api_dir }}
ExecStart={{ freeipa_sssd_tools_api_que_syn_cmd }}

[Install]
WantedBy=multi-user.target
